*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body{
   font-family: Arial, Helvetica, sans-serif;
   color: white;
}
header, main{
   background-color: black;
}
header{
   padding-top: 7px;
   padding-right: 10px;
}
footer{
   background-color: rgb(34, 34, 34);
}
.flex{
   width: 100%;
   display: flex;
}
.end{
   display: flex;
   justify-content: end;
}
.bg-grey{
   background-color: rgb(74, 74, 74);
   padding: 6px;
   border-radius: 5px;
   font-size: 14px;
}
.left{
   margin-left: 10px;
}
.main{
   padding-top: 20px;
   padding-left: 75px;
   padding-right: 75px;
   display: flex;
   flex-grow: 1;
   height: 100vh;
   overflow: auto;
}
.container{
   width: 1700px;
   overflow: auto;
   height: 100vh;
}
.card-zoom{
   width: 100px;
   height: 100px;
   position: relative;
   margin: 5px;
}
.wrap{
   flex-wrap: wrap;
}

.mic-name{
   position: absolute;
   bottom: 0;
   left: 0;
   padding-left: 5px;
   padding-bottom: 2px;
   background-color: rgba(0, 0, 0, 0.5)
}
.img-zoom{
   background-image: url(https://picsum.photos/200);
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
}

footer{
   padding: 10px;
}
footer i {
   font-size: 35px;
   padding-top: 10px;
   padding-bottom: 10px;
}