* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: Arial, Helvetica, sans-serif;
   color: white;
}

header,
main {
   background-color: black;
}

header {
   padding-top: 7px;
   padding-right: 10px;
}

footer {
   background-color: rgb(34, 34, 34);
   height: 70px;
}

header {
   height: 35px;
}

.flex {
   display: flex;
}

.width {
   width: 100%;
}

.end {
   display: flex;
   justify-content: end;
}

.bg-grey {
   background-color: rgb(74, 74, 74);
   padding: 6px;
   border-radius: 5px;
   font-size: 14px;
}

.left {
   margin-left: 10px;
}

.main {
   padding-top: 30px;
   padding-bottom: 20px;
   padding-left: 75px;
   padding-right: 75px;
   display: flex;
   flex-grow: 1;
   height: 100vh;
   overflow: auto;
   height: calc(100vh - 105px);
}

.container {
   width: 1700px;
   overflow: auto;
   height: 100vh;
}

.card-zoom {
   width: calc(14% - 10px);
   position: relative;
   margin: 5px;
}

.wrap {
   flex-wrap: wrap;
}

.mic-name {
   position: absolute;
   bottom: 0;
   left: 0;
   padding: 5px;
   background-color: rgba(0, 0, 0, 0.5)
}

.img-zoom {
   background-image: url(https://picsum.photos/200);
   background-repeat: no-repeat;
   background-size: cover;
}
.big-btn {
   font-size: 25px;
   text-align: center;
}
footer section i{
   padding-right: 25px;
}
.small-btn{
   font-size: 12px;
}
.left-btn{
   align-items: center;
   padding-left: 15px;
}
.center-btn {
   justify-content: center;
   flex-grow: 1;
   align-items: center;
}
.center-text{
   font-size: 16px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: normal;
   color: white;
}
.btn-exit{
   display: flex;
   color: red;
   align-items: center;
   background-color: rgb(74, 74, 74);
   padding: 15px; 
}
.min-padding{
   padding-right: 15px;
}
